<nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #8e603b; color:white ; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RecipeApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
        
            <a class="nav-link mx-3"  aria-current="page" href="/recipe">Recipes</a>
          
            <a class="nav-link" href="/recipe/new">Add Recipe</a>
          
          
           
         
      </div>
    </div>
  </nav>