<% layout('./layouts/boilerplate') %> 
 

    <h1>All Items</h1>
    <a href="/recipe/new">Add Recipe</a>
    <ul>
        <%for (let r of recipies) {%> 
                <li><a href="/recipe/<%=r._id%>"><%=r.title%></a></li>
            <%}%> 
    </ul> 
