<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=recipie.title%> </title>
</head>
<body>
        <h1><%=recipie.title%></h1>
        <h2>Ingredients : <%=recipie.ingredients%></h2>
        <h3>Recipe Instructions : </h3>
        <p><%=recipie.instructions%> </p>
</body>
</html>